# RFP: Betting on the Bachelor

## Project Overview
You are invited to submit a proposal that answers the following question:

### Who will win season 29 of the Bachelor?

*All proposals must be submitted by **1/15/25 at 11:59 PM**.*

## Required Proposal Components

### 1. Data Description
In the code cell below, read in the data you plan on using to train and test your model. Call `info()` once you have read the data into a dataframe. Consider using some or all of the following sources:
- [Scrape Fandom Wikis](https://bachelor-nation.fandom.com/wiki/The_Bachelor) or [the official Bachelor website]('https://bachelornation.com/shows/the-bachelor/')
- [Ask ChatGPT to genereate it](https://chatgpt.com/)
- [Read in csv files like this](https://www.kaggle.com/datasets/brianbgonz/the-bachelor-contestants?select=contestants.csv)

*Note, a level 5 dataset contains at least 1000 rows of non-null data. A level 4 contains at least 500 rows of non-null data.*

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import requests
from bs4 import BeautifulSoup
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv("contestants.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423 entries, 0 to 422
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        423 non-null    object
 1   Age         422 non-null    float64
 2   Occupation  423 non-null    object
 3   Hometown    423 non-null    object
 4   Height      30 non-null     float64
 5   ElimWeek    406 non-null    float64
 6   Season      423 non-null    int64
dtypes: float64(3), int64(1), object(3)
memory usage: 23.3+ KB

In [4]:
df = df.drop(["Height"], axis=1)
df = df.dropna()

In [5]:
i = 3
nCont ={"Name":[]}
while i <= 4:
    url = "https://bachelor-nation.fandom.com/wiki/The_Bachelor_(Season_"+str(i)+")"
    response =requests.get(url)
    html_con = response.text
    soup = BeautifulSoup(html_con, 'html.parser')
    uls = soup.find_all("td",{"":""})
    cursor = 2
    Contestants ={"Contestants":[]}
    Contest ={"Con":[]}
    for a in uls:
        Con = a.get_text()
        Con = Con.strip()
        result = Con.split()
        Contestants["Contestants"].append(Con)
    for idx in range(len(Contestants["Contestants"])):
        if len(Contest["Con"]) < 25:
            if idx == cursor:
                Contest["Con"].append(Contestants["Contestants"][idx])
                cursor += 5
    nCont["Name"].extend(Contest["Con"])        
    i += 1

In [6]:
i = 6
Cont ={"Name":[]}
while i <= 7:
    url = "https://bachelor-nation.fandom.com/wiki/The_Bachelor_(Season_"+str(i)+")"
    response =requests.get(url)
    html_con = response.text
    soup = BeautifulSoup(html_con, 'html.parser')
    uls = soup.find_all("td",{"":""})
    cursor = 2
    Contestants ={"Contestants":[]}
    Contest ={"Con":[]}
    for a in uls:
        Con = a.get_text()
        Con = Con.strip()
        result = Con.split()
        Contestants["Contestants"].append(Con)
    for idx in range(len(Contestants["Contestants"])):
        if len(Contest["Con"]) < 25:
            if idx == cursor:
                Contest["Con"].append(Contestants["Contestants"][idx])
                cursor += 5
    Cont["Name"].extend(Contest["Con"])        
    i += 1

In [7]:
i = 3
nContes ={"Age":[]}
while i <= 4:
    url = "https://bachelor-nation.fandom.com/wiki/The_Bachelor_(Season_"+str(i)+")"
    response =requests.get(url)
    html_con = response.text
    soup = BeautifulSoup(html_con, 'html.parser')
    uls = soup.find_all("td",{"":""})
    cursor = 3
    Contestants ={"Contestants":[]}
    Contest ={"Con":[]}
    for a in uls:
        Con = a.get_text()
        Con = Con.strip()
        result = Con.split()
        Contestants["Contestants"].append(Con)
    for idx in range(len(Contestants["Contestants"])):
        if len(Contest["Con"]) < 25:
            if idx == cursor:
                Contest["Con"].append(Contestants["Contestants"][idx])
                cursor += 5
    nContes["Age"].extend(Contest["Con"])        
    i += 1

In [8]:
i = 6
Contes ={"Age":[]}
while i <= 7:
    url = "https://bachelor-nation.fandom.com/wiki/The_Bachelor_(Season_"+str(i)+")"
    response =requests.get(url)
    html_con = response.text
    soup = BeautifulSoup(html_con, 'html.parser')
    uls = soup.find_all("td",{"":""})
    cursor = 3
    Contestants ={"Contestants":[]}
    Contest ={"Con":[]}
    for a in uls:
        Con = a.get_text()
        Con = Con.strip()
        result = Con.split()
        Contestants["Contestants"].append(Con)
    for idx in range(len(Contestants["Contestants"])):
        if len(Contest["Con"]) < 25:
            if idx == cursor:
                Contest["Con"].append(Contestants["Contestants"][idx])
                cursor += 5
    Contes["Age"].extend(Contest["Con"])        
    i += 1

In [9]:
i = 3
nContesy ={"From":[]}
while i <= 4:
    url = "https://bachelor-nation.fandom.com/wiki/The_Bachelor_(Season_"+str(i)+")"
    response =requests.get(url)
    html_con = response.text
    soup = BeautifulSoup(html_con, 'html.parser')
    uls = soup.find_all("td",{"":""})
    cursor = 4
    Contestants ={"Contestants":[]}
    Contest ={"Con":[]}
    for a in uls:
        Con = a.get_text()
        Con = Con.strip()
        result = Con.split()
        Contestants["Contestants"].append(Con)
    for idx in range(len(Contestants["Contestants"])):
        if len(Contest["Con"]) < 25:
            if idx == cursor:
                Contest["Con"].append(Contestants["Contestants"][idx])
                cursor += 5
    nContesy["From"].extend(Contest["Con"])        
    i += 1

In [10]:
i = 6
Contesy ={"From":[]}
while i <= 7:
    url = "https://bachelor-nation.fandom.com/wiki/The_Bachelor_(Season_"+str(i)+")"
    response =requests.get(url)
    html_con = response.text
    soup = BeautifulSoup(html_con, 'html.parser')
    uls = soup.find_all("td",{"":""})
    cursor = 4
    Contestants ={"Contestants":[]}
    Contest ={"Con":[]}
    for a in uls:
        Con = a.get_text()
        Con = Con.strip()
        result = Con.split()
        Contestants["Contestants"].append(Con)
    for idx in range(len(Contestants["Contestants"])):
        if len(Contest["Con"]) < 25:
            if idx == cursor:
                Contest["Con"].append(Contestants["Contestants"][idx])
                cursor += 5
    Contesy["From"].extend(Contest["Con"])        
    i += 1

In [11]:
i = 3
nConteser ={"Job":[]}
while i <= 4:
    url = "https://bachelor-nation.fandom.com/wiki/The_Bachelor_(Season_"+str(i)+")"
    response =requests.get(url)
    html_con = response.text
    soup = BeautifulSoup(html_con, 'html.parser')
    uls = soup.find_all("td",{"":""})
    cursor = 5
    Contestants ={"Contestants":[]}
    Contest ={"Con":[]}
    for a in uls:
        Con = a.get_text()
        Con = Con.strip()
        result = Con.split()
        Contestants["Contestants"].append(Con)
    for idx in range(len(Contestants["Contestants"])):
        if len(Contest["Con"]) < 25:
            if idx == cursor:
                Contest["Con"].append(Contestants["Contestants"][idx])
                cursor += 5
    nConteser["Job"].extend(Contest["Con"])        
    i += 1

In [12]:
i = 6
Conteser ={"Job":[]}
while i <= 7:
    url = "https://bachelor-nation.fandom.com/wiki/The_Bachelor_(Season_"+str(i)+")"
    response =requests.get(url)
    html_con = response.text
    soup = BeautifulSoup(html_con, 'html.parser')
    uls = soup.find_all("td",{"":""})
    cursor = 5
    Contestants ={"Contestants":[]}
    Contest ={"Con":[]}
    for a in uls:
        Con = a.get_text()
        Con = Con.strip()
        result = Con.split()
        Contestants["Contestants"].append(Con)
    for idx in range(len(Contestants["Contestants"])):
        if len(Contest["Con"]) < 25:
            if idx == cursor:
                Contest["Con"].append(Contestants["Contestants"][idx])
                cursor += 5
    Conteser["Job"].extend(Contest["Con"])        
    i += 1

In [13]:
i = 3
nContesery ={"Elim Week":[]}
while i <= 4:
    url = "https://bachelor-nation.fandom.com/wiki/The_Bachelor_(Season_"+str(i)+")"
    response =requests.get(url)
    html_con = response.text
    soup = BeautifulSoup(html_con, 'html.parser')
    uls = soup.find_all("td",{"":""})
    cursor = 6
    Contestants ={"Contestants":[]}
    Contest ={"Con":[]}
    for a in uls:
        Con = a.get_text()
        Con = Con.strip()
        result = Con.split()
        Contestants["Contestants"].append(Con)
    for idx in range(len(Contestants["Contestants"])):
        if len(Contest["Con"]) < 25:
            if idx == cursor:
                Contest["Con"].append(Contestants["Contestants"][idx])
                cursor += 5
    nContesery["Elim Week"].extend(Contest["Con"])        
    i += 1

In [14]:
i = 6
Contesery ={"Elim Week":[]}
while i <= 7:
    url = "https://bachelor-nation.fandom.com/wiki/The_Bachelor_(Season_"+str(i)+")"
    response =requests.get(url)
    html_con = response.text
    soup = BeautifulSoup(html_con, 'html.parser')
    uls = soup.find_all("td",{"":""})
    cursor = 6
    Contestants ={"Contestants":[]}
    Contest ={"Con":[]}
    for a in uls:
        Con = a.get_text()
        Con = Con.strip()
        result = Con.split()
        Contestants["Contestants"].append(Con)
    for idx in range(len(Contestants["Contestants"])):
        if len(Contest["Con"]) < 25:
            if idx == cursor:
                Contest["Con"].append(Contestants["Contestants"][idx])
                cursor += 5
    Contesery["Elim Week"].extend(Contest["Con"])        
    i += 1

In [15]:
df1 = pd.DataFrame(Cont)
df2 = pd.DataFrame(Contes)
df3 = pd.DataFrame(Contesy)
df4 = pd.DataFrame(Conteser)
df5 = pd.DataFrame(Contesery)

In [16]:
df6 = pd.DataFrame(nCont)
df7 = pd.DataFrame(nContes)
df8 = pd.DataFrame(nContesy)
df9 = pd.DataFrame(nConteser)
df10 = pd.DataFrame(nContesery)

In [17]:
Tdf = df1
Tdf = pd.merge(Tdf, df2, left_index=True, right_index=True)
Tdf = pd.merge(Tdf, df3, left_index=True, right_index=True)
Tdf = pd.merge(Tdf, df4, left_index=True, right_index=True)
Tdf = pd.merge(Tdf, df5, left_index=True, right_index=True)

In [18]:
Sdf = df6
Sdf = pd.merge(Sdf, df7, left_index=True, right_index=True)
Sdf = pd.merge(Sdf, df8, left_index=True, right_index=True)
Sdf = pd.merge(Sdf, df9, left_index=True, right_index=True)
Sdf = pd.merge(Sdf, df10, left_index=True, right_index=True)

In [19]:
Tdf['Season'] = [6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7]

In [20]:
Sdf['Season'] = [3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4]

In [21]:
Tdf.head()

,Name,Age,From,Job,Elim Week,Season
0,Mary Delgado,29,"Tampa, FL",Sales manager,Winner,6
1,Tanya,31,"Plano, TX",Teacher,Runner-up,6
2,Cynthia,37,"Hermosa Beach, CA",Charity foundations director,Week 7,6
3,Cheresse,31,"St. Louis, MO",Advertising director,Week 6,6
4,Andrea,33,"Denver, CO",Dental hygienist,Week 5,6

In [22]:
df.tail()

,Name,Age,Occupation,Hometown,ElimWeek,Season
415,Olivia,25.0,Apparel Sales Representative,"Anchorage, AK",1.0,21
418,Sarah,26.0,Grade School Teacher,"Newport Beach, CA",4.0,21
419,Susannah,26.0,Account Manager,"San Diego, CA",1.0,21
420,Taylor,23.0,Mental Health Counselor,"Seattle, WA",5.0,21
422,Whitney,25.0,Pilates Instructor,"Chanhassen, MN",6.0,21

In [23]:
Sdf.head()

,Name,Age,From,Job,Elim Week,Season
0,Jennifer Schefft,25,"Mentor, Ohio",Publicist,Winner,3
1,Kirsten Buschbacher,23,"Valrico, Florida",E-Commerce Merchant,Runner-up,3
2,Tina Panas,22,"Oconomowoc, Wisconsin",Student,Week 6,3
3,Cristina Costa,30,"Montclair, New Jersey",Pharmaceutical sales consultant,Week 5,3
4,Anne-Michelle,25,"Burbank, California",Bartender/actress,Week 4,3

In [24]:
Df = pd.concat([Sdf, Tdf], axis=0)
Df.rename(columns={'From': 'Hometown', 'Job': 'Occupation', 'Elim Week': 'ElimWeek'}, inplace=True)

In [25]:
Df = pd.concat([Df, df], axis=0)

In [26]:
Df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 505 entries, 0 to 422
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        505 non-null    object
 1   Age         505 non-null    object
 2   Hometown    505 non-null    object
 3   Occupation  505 non-null    object
 4   ElimWeek    505 non-null    object
 5   Season      505 non-null    int64
dtypes: int64(1), object(5)
memory usage: 27.6+ KB

In [27]:
Df.head()

,Name,Age,Hometown,Occupation,ElimWeek,Season
0,Jennifer Schefft,25,"Mentor, Ohio",Publicist,Winner,3
1,Kirsten Buschbacher,23,"Valrico, Florida",E-Commerce Merchant,Runner-up,3
2,Tina Panas,22,"Oconomowoc, Wisconsin",Student,Week 6,3
3,Cristina Costa,30,"Montclair, New Jersey",Pharmaceutical sales consultant,Week 5,3
4,Anne-Michelle,25,"Burbank, California",Bartender/actress,Week 4,3

In [28]:
Df['ElimWeek'] = Df['ElimWeek'].replace('Winner', 0)
Df['ElimWeek'] = Df['ElimWeek'].replace('Runner-up', 11)

### 2. Training Your Model
In the cell seen below, write the code you need to train a linear regression model. Make sure you display the equation of the plane that best fits your chosen data at the end of your program. 

*Note, level 5 work trains a model using only the standard Python library and Pandas. A level 5 model is trained with at least two features, where one of the features begins as a categorical value (e.g. occupation, hometown, etc.). A level 4 uses external libraries like scikit or numpy.*

In [29]:
features = df[["Age"]]

In [30]:
output = df["ElimWeek"]

In [31]:
x_train, x_test, y_train, y_test = train_test_split(
    features, output, test_size=0.30,random_state = 42)

In [32]:
model =LinearRegression()

In [33]:
model.fit(x_train, y_train)

LinearRegression()

In [34]:
m1 = model.coef_[0]
b = model.intercept_
print("y = ", m1, "x1= ", b)

y =  -0.09523341039893751 x1=  5.505681538688574

### 3. Testing Your Model
In the cell seen below, write the code you need to test your linear regression model. 

*Note, a model is considered a level 5 if it achieves at least 60% prediction accuracy or achieves an RMSE of 2 weeks or less.*

In [35]:
predictions = model.predict(x_test)
predictions = [int(x) for x in predictions]

In [36]:
y_test = list(y_test)

In [40]:
count = 0
for i in range(len(predictions)):
    if predictions[i] == y_test[i]:
        count = count + 1
        print(Df.loc[count])
print(count/len(predictions))

                  Name   Age          Hometown           Occupation ElimWeek  \
1  Kirsten Buschbacher    23  Valrico, Florida  E-Commerce Merchant       11
1                Tanya    31         Plano, TX              Teacher       11
1          Trista Rehn  29.0    Miami, Florida    Miami Heat Dancer      6.0

   Season
1       3
1       6
1       1
             Name   Age               Hometown  \
2      Tina Panas    22  Oconomowoc, Wisconsin
2         Cynthia    37      Hermosa Beach, CA
2  Shannon Oliver  24.0          Dallas, Texas

                        Occupation ElimWeek  Season
2                          Student   Week 6       3
2     Charity foundations director   Week 7       6
2  Financial Management Consultant      5.0       1
             Name   Age               Hometown  \
3  Cristina Costa    30  Montclair, New Jersey
3        Cheresse    31          St. Louis, MO
3             Kim  24.0         Tempe, Arizona

                        Occupation ElimWeek  Season
3  Pharmaceutical sales consultant   Week 5       3
3             Advertising director   Week 6       6
3                            Nanny      4.0       1
            Name   Age              Hometown         Occupation ElimWeek  \
4  Anne-Michelle    25   Burbank, California  Bartender/actress   Week 4
4         Andrea    33            Denver, CO   Dental hygienist   Week 5
4   Cathy Grimes  22.0  Terra Haute, Indiana   Graduate Student      3.0

   Season
4       3
4       6
4       1
        Name   Age            Hometown                Occupation ElimWeek  \
5        Liz    23   Chicago, Illinois  Event marketing director   Week 4
5      Jayne    37       Key Largo, FL               Dog groomer   Week 5
5  Christina  28.0  Bonita, California                  Attorney      3.0

   Season
5       3
5       6
5       1
            Name   Age                 Hometown            Occupation  \
6          Amber    23         Atlanta, Georgia     Account executive
6      Elizabeth    28              Chicago, IL  Pharmaceutical sales
6  LaNease Adams  23.0  Los Angeles, California               Actress

  ElimWeek  Season
6   Week 3       3
6   Week 4       6
6      3.0       1
     Name   Age            Hometown                    Occupation ElimWeek  \
7  Aubree    26   Las Vegas, Nevada                  Hair stylist   Week 3
7  Krysta    28   Oklahoma City, OK             Financial analyst   Week 4
7  Rhonda  28.0  Woodward, Oklahoma  Commercial Real Estate Agent      3.0

   Season
7       3
7       6
7       1
      Name   Age                   Hometown           Occupation ElimWeek  \
8  Heather    22     Waltham, Massachusetts              Student   Week 3
8   Amanda    27               New York, NY      Cosmetics buyer   Week 3
8    Alexa  27.0  Beverly Hills, California  Special Ed. Teacher      2.0

   Season
8       3
8       6
8       1
      Name   Age              Hometown              Occupation ElimWeek  \
9  Tina S.    26  Nashville, Tennessee           Event planner   Week 3
9  Kristie    32       Windsor, Canada               Bar owner   Week 3
9      Amy  28.0    New York, New York  Production Coordinator      2.0

   Season
9       3
9       6
9       1
      Name   Age                    Hometown         Occupation ElimWeek  \
10  Amy P.    29  Charleston, South Carolina  Massage therapist   Week 2
10   Susie    32               Hollywood, CA   Insurance broker   Week 3
10  Angela  25.0           Avondale, Arizona   Hooters Waitress      2.0

    Season
10       3
10       6
10       1
                Name   Age              Hometown        Occupation ElimWeek  \
11      Christina S.    24  Palm Harbor, Florida           Realtor   Week 2
11  Heather Cranford    32            Dallas, TX  Flight attendant   Week 3
11         Angelique  27.0   Burbank, California           Actress      2.0

    Season
11       3
11       6
11       1
         Name   Age               Hometown             Occupation ElimWeek  \
12  Elizabeth    24  Bolingbrook, Illinois  Child life specialist   Week 2
12     Ashley    31      Santa Barbara, CA                Teacher   Week 2
12      Katie  23.0  Malden, Massachusetts  Power Tool Sales Rep.      2.0

    Season
12       3
12       6
12       1
       Name   Age              Hometown    Occupation ElimWeek  Season
13   Rachel    21  New Braunfels, Texas       Student   Week 2       3
13    Kelly    34     Beverly Hills, CA       Actress   Week 2       6
13  Melissa  25.0        Tempe, Arizona  Photographer      2.0       1
       Name   Age            Hometown             Occupation ElimWeek  Season
14  Shannon    26  New York, New York        Human resources   Week 2       3
14    Leina    28     Chula Vista, CA  Advertising associate   Week 2       6
14     Tina  27.0        Plano, Texas       Graduate Student      2.0       1
       Name   Age                 Hometown                     Occupation  \
15   Amy G.    24       New York, New York               Graphic designer
15  Natalie    34         Santa Monica, CA                   Retail sales
15    Amber  29.0  Los Angeles, California  Business Development Director

   ElimWeek  Season
15   Week 1       3
15   Week 2       6
15      1.0       1
       Name   Age                 Hometown         Occupation ElimWeek  Season
16   Angela    25  Williamsville, New York            Student   Week 1       3
16    Wende    28               Austin, TX              Model   Week 2       6
16  Daniela  30.0      Seattle, Washington  Neuropsychologist      1.0       1
      Name   Age               Hometown Occupation ElimWeek  Season
17  Brooke    21  Jacksonville, Florida    Student   Week 1       3
17    Abby    29          Henderson, NV    Acrobat   Week 1       6
17  Denise  30.0       Honolulu, Hawaii     Doctor      1.0       1
               Name   Age                  Hometown                Occupation  \
18         Courtney    24        San Anselmo, Texas  Administrative assistant
18  Alma Rubenstein    35               Astoria, OR                Cafe owner
18           Jackie  22.0  Pittsburgh, Pennsylvania               Bar Manager

   ElimWeek  Season
18   Week 1       3
18   Week 1       6
18      1.0       1
     Name   Age               Hometown            Occupation ElimWeek  Season
19  Ginny    25  Kansas City, Missouri                Server   Week 1       3
19    Amy    27          San Diego, CA  Marketing consultant   Week 1       6
19   Jill  31.0      Chicago, Illinois        Retail Manager      1.0       1
           Name   Age                  Hometown             Occupation  \
20  Jennifer B.    26  New Port Richey, Florida             Pharmacist
20      Carolyn    36                 Tusla, OK      Financial advisor
20     Kristina  27.0   Los Angeles, California  Advertising Executive

   ElimWeek  Season
20   Week 1       3
20   Week 1       6
20      1.0       1
        Name   Age                 Hometown           Occupation ElimWeek  \
21     Kerri    25  Los Angeles, California  Corporate recruiter   Week 1
21  Jennifer    31              Seattle, WA    Account executive   Week 1
21      Lisa  29.0            Dallas, Texas             Attorney      1.0

    Season
21       3
21       6
21       1
0.1721311475409836

### 4. Final Answer

In the first cell seen below, state the name of your predicted winner. 
In the second cell seen below, justify your prediction using an evaluation technique like RMSE or percent accuracy.

#### State the name of your predicted winner here.

#### Justify your prediction here.